{%extends 'base.html'%}
{% load static %}

{%include 'navbar.html'%}
   {%block content%}
   <header class="bg-dark py-5">
    <div class="container px-4 px-lg-5 my-5">
        <div class="text-center text-white">
            <h1 class="display-4 fw-bolder">About</h1>
            <p class="lead fw-normal text-white-50 mb-0">This is Ecommerce Website</p>
            <p>how to</p>
            <p>
              <a class="btn btn-primary" href="{%url 'home'%}" role="button">Learn more &raquo;</a>
        </div>
    </div>
</header>

  
  <div class="container">
    <div class="row">
        <center>
            <div class="col-8">
            <br/><br/>
<p align="justify">
Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi vulputate malesuada augue, id fringilla ex. Maecenas tempor ipsum neque, a vehicula nisl blandit in. Pellentesque interdum, neque a viverra vestibulum, ligula dolor ornare nibh, rhoncus finibus nulla turpis ac magna. Praesent ac mi magna. Pellentesque elit nisl, iaculis non ultricies quis, rhoncus non purus. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Proin sit amet mollis purus. Fusce semper pulvinar ex, a rhoncus orci ultrices ac. Vestibulum rutrum fermentum ligula, in ornare urna ultricies ut.
<br/><br/>
Nam eleifend purus vitae pulvinar placerat. Donec porttitor, urna elementum ullamcorper varius, ligula ipsum porta sem, laoreet placerat quam massa sed turpis. Duis tincidunt sed neque non faucibus. Proin porttitor sollicitudin libero, at facilisis est feugiat sed. Phasellus sit amet sem velit. Aliquam vitae lectus eget nulla congue porta. Sed sodales rutrum ultricies. Ut ipsum eros, fermentum quis tortor et, hendrerit dictum diam.
<br/><br/>
Pellentesque eros quam, fringilla vulputate bibendum sed, tincidunt vel dui. Morbi commodo ipsum vel semper ornare. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nullam eget lacus aliquet, facilisis mauris vitae, dictum metus. Morbi gravida justo et sapien dictum, sit amet varius nibh euismod. Sed luctus et erat eu ultrices. Sed porttitor vitae odio eu lobortis. Nulla gravida auctor nibh vitae rutrum. Phasellus euismod, ante vel pulvinar sodales, nunc diam tincidunt tellus, a faucibus massa nisl sit amet tellus. Nullam non felis lacus. Aenean volutpat mi nec finibus ullamcorper. Donec dictum leo eu tortor sollicitudin convallis. Nulla hendrerit dictum lacus, sit amet pulvinar diam semper non. In commodo viverra maximus. Donec fermentum pretium urna non commodo. 
<br/><br/>
</p>
<br/><br/>
            </div>
        </center>
        </div>
    </div>        
    
    

    

   {%endblock%}