{%extends 'base.html'%}
{% load static %}


{%block content%}
<div class="container my-5">
    <div class="bg-body-tertiary p-5 rounded">
      <div class="col-sm-8 py-5 mx-auto">
        <center>
        <h1 class="display-5 fw-normal">Register</h1>
        <p class="fs-5">Register in to your account</p>
        </center>
        
    </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
  
            <form method="POST" action="{% url 'register'%}">
                {% csrf_token %}
                {{form.as_p}}
                <br/><br/>
                <button type="submit" class="btn btn-primary">
                    Register
                </button>
                
               
            </form>
            <br/><br/>
            <br/><br/>
            <br/><br/>
            <br/><br/>
            <br/><br/>
            <br/><br/>

 {%endblock%}